<template>
  <div class="container my-5">
    <div class="row">
      <div class="col-md-3">
        <div class="card shadow" style="width: 20rem;">
          <div class="card-header p-0">
            <img
              src="https://cdn.pixabay.com/photo/2024/01/14/23/11/siamese-crocodile-8509003_640.jpg"
              class="card-img-top"
              alt=""
            />
          </div>
          <div class="card-body">
            <h5 class="card-title">title</h5>
            <p class="card-text">
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Ex
              deleniti magni rerum aut sint! Ex!
            </p>
            <div class="d-flex justify-content-end">
              <a href="https://pixabay.com/th/photos/image-8525794/" class="btn btn-primary" target="_blank">อ่านต่อ...</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script setup></script>

<style scoped></style>
