<template>
  <div class="container my-5">
    <div class="row">
      <div class="col-md-3">
        <div class="card shadow" style="width: 20rem;">
          <div class="card-header p-0">
            <img
              src="https://cdn.pixabay.com/photo/2024/01/22/16/33/pelican-8525794_640.jpg"
              class="card-img-top"
              alt=""
            />
          </div>
          <div class="card-body">
            <h5 class="card-title">title</h5>
            <p class="card-text">
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Ex
              deleniti magni rerum aut sint! Ex!
            </p>
            <div class="d-flex justify-content-end">
              <a href="#" class="btn btn-primary" @click="notify">อ่านต่อ...</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script setup>
import { toast } from 'vue3-toastify';
import 'vue3-toastify/dist/index.css';

toast.success("hello how are you",{
  timeout: 1500
})

const notify = () => {
  toast("WoW"), {
    autoClose: 2000,
  }
}
</script>

<style scoped></style>
