<template>
  <h1>this is map</h1>
  <div style="height: 100vh;">
    <iframe
      src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d31191.846891381425!2d102.4839669!3d12.2495743!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x310443fa4c2a7c5b%3A0x4641a10d720c0c7b!2sTrat%20Technical%20College%20(Campus1)!5e0!3m2!1sth!2sth!4v1706757584988!5m2!1sth!2sth"
      width="800"
      height="600"
      style="border: 0"
      allowfullscreen=""
      loading="lazy"
      referrerpolicy="no-referrer-when-downgrade"
    ></iframe>
  </div>
</template>

<script setup></script>

<style scoped>
* {
  display: grid;
  align-content: center;
  justify-content: center;
}
</style>
