<template>
  <div>
    <nav
      class="navbar navbar-expand-lg navbar-light shadow sticky-top"
      style="background-color: #2f4f4f"
    >
      <div class="container">
        <router-link :to="{ name: 'home' }" class="navbar-brand"
          >สาขาไอที</router-link
        >
        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <router-link
                :to="{ name: 'home' }"
                class="nav-link"
                aria-current="page"
                >หน้าหลัก</router-link
              >
            </li>
            <li class="nav-item">
              <router-link :to="{ name: 'about' }" class="nav-link"
                >เกี่ยวกับ</router-link
              >
            </li>
            <li class="nav-item dropdown">
              <a
                class="nav-link dropdown-toggle"
                href=""
                role="button"
                data-bs-toggle="dropdown"
                aria-expanded="false"
              >
                อื่น ๆ
              </a>
              <ul class="dropdown-menu">
                <li>
                  <a
                    class="dropdown-item"
                    href="https://www.trattc.ac.th/app"
                    target="_blank"
                    style="color: black"
                    >วท.ตราด</a
                  >
                </li>
                <li>
                  <a
                    class="dropdown-item"
                    href="https://www.vec.go.th/"
                    target="_blank"
                    style="color: black"
                    >อาชีวศึกษา</a
                  >
                </li>
                <li><hr class="dropdown-divider" /></li>
                <li>
                  <a
                    class="dropdown-item"
                    href="https://www.moe.go.th/"
                    target="_blank"
                    style="color: black"
                    >กระทรวงศึกษาธิการ</a
                  >
                </li>
              </ul>
            </li>
            <li class="nav-item">
              <router-link :to="{ name: 'map' }" class="nav-link"
                >แผนที่</router-link
              >
            </li>
          </ul>
        </div>
      </div>
    </nav>
  </div>
</template>

<script setup></script>

<style scoped>
@import url("https://fonts.googleapis.com/css2?family=Noto+Serif+Thai&display=swap");
.navbar {
  font-family: "Noto Serif Thai", serif;
}
a {
  color: #ffffff;
}
</style>
