<template>
  <navbar />
  <div class="body">
    <div class="wrapper">
      <router-link to="/">Home</router-link> |
      <router-link to="/about">About</router-link> |
      <router-link to="/map">Map</router-link>
    </div>
  </div>
  <router-view></router-view>
  <foo_ter />
</template>

<script setup>
import navbar from './views/navbar.vue'
import foo_ter from './views/Footer.vue'
import { useHead } from '@unhead/vue'
import { computed, reactive } from 'vue';

const siteData = reactive({
  title: 'IT Department',
  description: 'Trat Technical'
})

useHead({
  title: computed(()=>siteData.title),
  meta:[
    {
      name: 'description',
      content:computed(()=>siteData.description),
    }
  ]
})
</script>

<style scoped>
.body{
  display: flex;
  align-items: center;
  justify-content: center;
}
</style>